html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: CircularStd, sans-serif;
  font-weight: 600;
  color: #d0b8a8;
  overflow: hidden;
}

ul li {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 65px;
}

a {
  text-decoration: none;
  color: #d0b8a8;
}

ul li:hover {
  cursor: pointer;
}

#wrp {
  width: 100%;
  height: 100vh;
}

#nav {
  position: fixed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgba(90, 141, 175, 0.17);
  background-blend-mode: multiply;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  top: 50%;
  padding: 15px 20px 15px 35px;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  z-index: 0;
  width: 170px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainNav {
  position: fixed;
  width: 100vw;
  height: var(--menu-height);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px var(--menu-height) 0;
}

body {
  background-color: #2f2f31;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f31;
}

::-webkit-scrollbar-thumb {
  background: #2f2f31;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f31;
}
