html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: CircularStd, sans-serif;
  font-weight: 600;
  color: #d0b8a8;
  overflow: hidden;
}

ul li {
  list-style-type: none;
  margin-top: 60px;
  margin-bottom: 65px;
}

a {
  text-decoration: none;
  color: #d0b8a8;
}

ul li:hover {
  cursor: pointer;
}

#wrp {
  width: 100%;
  height: 100vh;
}

#nav {
  position: fixed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgba(90, 141, 175, 0.17);
  background-blend-mode: multiply;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  top: 50%;
  padding: 15px 20px 15px 35px;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  z-index: 0;
  width: 170px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #2f2f31;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f31;
}

::-webkit-scrollbar-thumb {
  background: #2f2f31;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f31;
}

#abtMe,
#featuredWork,
#xp,
#interests {
  text-align: right;
}

#abtMeDot,
#featuredWorkDot,
#xpDot,
#interestsDot {
  position: relative;
  left: 5px;
}

#circle {
  position: absolute;
  border: 2px solid #d0b8a8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 23px;
  top: 51px;
}

#abtMe2,
#featuredWork2,
#xp2,
#interests2 {
  text-align: right;
}

#abtMeDot2,
#featuredWorkDot2,
#xpDot2,
#interestsDot2 {
  position: relative;
  left: 5px;
}
