html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: CircularStd, sans-serif;
  font-weight: 600;
  color: #d0b8a8;
  overflow: hidden;
}

#wrp {
  width: 100%;
  height: 100vh;
}

#nav {
  position: fixed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgba(90, 141, 175, 0.17);
  backdrop-filter: blur(30px);
  top: 50%;
  padding: 15px 20px 15px 35px;
  right: 0;
  transform: translateY(-50%);
  width: 170px;
  height: 350px;
}

body {
  background-color: #2f2f31;
}

.anchor {
  cursor: pointer;
}

.anchor {
  line-height: 70px;
  width: 170px;
  height: 70px;
  font-size: 1em;
  display: flexbox;
  text-align: right;
  transform: translateX(-20px);
  width: 100%;
  height: 20%;
  opacity: 0.7;
  transition: opacity 1s;
}

.dot {
  position: absolute;
  top: -16px;
  left: 180px;
}

@media only screen and (max-width: 750px) {
  #nav {
    width: 1px;
  }
}

#circle {
  position: absolute;
  border: 2px solid #d0b8a8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 13px;
  top: 54px;
}
